body {
  background-color: #dbdbdb;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: calibri;
  font-size: 20px;
}

.mainField {
  background-color: white;
  width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border-radius: 20px;
  margin-top: 50px;
  -webkit-box-shadow: 0 0px 10px rgba(37, 37, 37, 0.18);
          box-shadow: 0 0px 10px rgba(37, 37, 37, 0.18);
}

.textForm {
  border-radius: 5px;
  margin: 10px;
  border: 1px solid grey;
  width: 275px;
  font-size: 20px;
  font-family: calibri;
  max-width: 275px;
  min-width: 275px;
}

#forButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#redButton {
  background-color: #ffcccc;
}

#greenButton {
  background-color: #c1ffc1;
  cursor: pointer;
  -webkit-box-shadow: 0 0px 5px rgba(49, 49, 49, 0.38);
          box-shadow: 0 0px 5px rgba(49, 49, 49, 0.38);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

#greenButton:hover {
  background-color: #c1ffc1;
  -webkit-box-shadow: 0 0px 2px rgba(59, 59, 59, 0.38);
          box-shadow: 0 0px 2px rgba(59, 59, 59, 0.38);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.redClass {
  border: 1px solid red;
  background-color: #ffeaea;
}

.greenClass {
  border: 1px solid green;
  background-color: #f0ffef;
}

.greyArea {
  position: fixed;
  background-color: darkgray;
  opacity: 0.7;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
}

.successInfoDiv {
  position: fixed;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  opacity: 1;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: green;
}

.divAdmin {
  height: 50px;
  width: 120px;
  border-radius: 0px 0px 25px 25px;
  background-color: white;
  position: fixed;
  top: 0px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  -webkit-box-shadow: 0 3px 6px rgba(19, 19, 19, 0.28);
          box-shadow: 0 3px 6px rgba(19, 19, 19, 0.28);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.divAdmin:hover {
  -webkit-box-shadow: 0 1px 2px rgba(19, 19, 19, 0.28);
          box-shadow: 0 1px 2px rgba(19, 19, 19, 0.28);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
/*# sourceMappingURL=index.css.map */